<!DOCTYPE html>
<html lang="th">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page - Modern Style</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="../../static/css/login.css">
</head>

<body>
  <div class="container">
    <form class="login-form">
      <div class="lang-switch">
        <button onclick="changeLanguage('th')">TH</button>&ensp;|&ensp;
        <button onclick="changeLanguage('en')">EN</button>&ensp;|&ensp;
        <button onclick="changeLanguage('中文')">中文</button>
      </div>
      <h2 class="lang" data-key="login_title">
        < เข้าสู่ระบบ >
      </h2>
      <div class="input-group">
        <input type="text" id="username" required>
        <label for="username" class="lang" data-key="user_label">ชื่อผู้ใช้งาน</label>
      </div>

      <div class="input-group password-wrapper">
        <input type="text" id="password-input" required autocomplete="off">
        <label for="password-input" class="lang" data-key="pass_label">รหัสผ่าน</label>
        <i class="fas fa-eye-slash" id="togglePassword"></i>
      </div>

      <button type="submit" class="login-btn">Login</button>
      <div class="footer-links">
        <a href="../../templates/accounts/forget-password.html" class="lang" data-key="forgot_pass">ลืมรหัสผ่าน?</a>
        <span>&emsp;|&emsp;</span>
        <a href="../../templates/accounts/register.html" class="lang" data-key="register">สมัครสมาชิก</a>
      </div>
    </form>
  </div>
</body>
<script src="../../static/js/login.js"></script>

</html>