<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML Web Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="..\..\static\css\main.css">
</head>

<body>
    <table class="main-table">
        <tr>
            <td class="left-column">
                <div class="central-form">
                    <h1>Welcome to ML Web Application</h1>
                    <p>This is the central form area.</p>
                </div>
            </td>
            <td class="right-column">
                <div class="side-form">
                    <h2>Side Form</h2>
                    <p>This is the side form area.</p>
                </div>
            </td>
        </tr>
        
    <!-- <div class="container">
        <form class="central-form"></form>
        <form class="side-form"></form>
    </div> -->

</body>
<script src="..\..\static\js\program.js"></script>
</html>