<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ลืมรหัสผ่าน</title>
    <link rel="stylesheet" href="..\..\static\css\login.css">
</head>

<body>
    <div class="container">
        <form class="login-form">
            <div class="lang-switch">
                <button onclick="changeLanguage('th')">TH</button>&ensp;|&ensp;
                <button onclick="changeLanguage('en')">EN</button>&ensp;|&ensp;
                <button onclick="changeLanguage('中文')">中文</button>
            </div>
            <h2 class="lang" data-key="forgot_pass_title">
                < ลืมรหัสผ่าน >
            </h2>
            <!-- ฟอร์มลืมรหัสผ่าน -->
            <div class="input-group">
                <input type="email" id="email" required>
                <label for="email" class="lang" data-key="email_label">อีเมลที่ใช้สมัคร</label>

            </div>
            <button type="submit" class="login-btn lang" data-key="send_reset_link">ส่งคำขอลืมรหัสผ่าน</button>
            <div class="footer-links">
                <a href="../../templates/accounts/login.html" class="lang" data-key="back_to_login">กลับไปหน้าเข้าสู่ระบบ</a>
            </div>
        </form>
    </div>
</body>
<script src="../../static/js/language.js"></script>

</html>